[user]
	email = tmarjeski@gmail.com
	name = Trevor Arjeski
	signingkey = A52D68794EBED758
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
[commit]
	gpgSign = true
[gpg]
	program = gpg
[alias]
  cleanup = !git branch | egrep -v '(master|main|dev)' | xargs git branch -D
  cm = commit -m
  sps = !git stash && git pull && git stash pop
[core]
  pager = less
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[include]
  path = "~/.gitconfig-sendmail"
