/* Change font UI globally */
* {
    font-family: "JetBrainsMono NFM Medium" !important;
    font-size: 12 !important; 
    font-weight: normal;
}

#urlbar-background{
    background-color: #2b2a33 !important;
}

#urlbar-input{
    font-weight: bold !important;
}

#urlbar {
    color: #0DE2FF !important;
}

#navigator-toolbox {
    background-color: #2b2a33 !important;
}

#webrtcIndicator {
  display: none;
}
