/* Change font UI globally */
* {
    font-family: "Iosevka JBM" !important;
    font-weight: bold !important;
    color: #EBCB8B !important;
}

#urlbar-input, #urlbar, .tab-label {
    font-size: 12pt !important; 
    font-weight: bold !important;
}

.browser-toolbar,
.toolbar-menupopup,
#navigator-toolbox,
#urlbar-background,
.menu-iconic {
    background-color: #3B4252 !important;
}

#webrtcIndicator {
  display: none;
}

.tab-background:is([selected], [multiselected]) {
  outline: 2px solid #EBCB8B !important;
  box-shadow: none !important;
}
